# configuration file
.gitignore
.config
node_modules
usersAndDbStatus.sh
restart-services.sh
*.png
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Configuration files
.env
.config

#commands file
commands

#folders
node_modules
*-lock.json
tsconfig.tsbuildinfo
STATE.md
SECRETS
